<h2><%= @user.username %></h2>
<% if @user.profile_pic %>
  <img class="media-object" src="<%= @user.profile_pic %>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image" width="300">
<% end %>
<p>This is <%= @user.username %></p>
<p><%= @user.email_address %></p>

<a href="/logout">logout</a>
