<br>
<br>

<form id="edit" method="post" action="/properties/<%= @property.id %>">
  <div class="form-group">
    <label for="property[address1]">1st line of address</label>
    <input name="property[address1]" type="text" class="form-control" id="address1" placeholder="1st line of address"
    value="<%= @property.address1 %>" >
  </div>
  <div class="form-group">
    <label for="property[address2]">2nd line of address</label>
    <input name="property[address2]" type="text" class="form-control" id="address2" placeholder="2nd line of address"
    value="<%= @property.address2 %>">
  </div>
  <div class="form-group">
    <label for="property[postcode]">Postcode</label>
    <input name="property[postcode]" type="text" class="form-control" id="postcode" placeholder="Postcode"
    value="<%= @property.postcode %>">
  </div>
  <div class="form-group">
    <label for="property[property_image]">Property image</label>
    <input name="property[property_image]" type="file" class="form-control" id="property_image" placeholder="Property Image">
  </div>
  <div class="form-group">
    <label for="property[borough]">Borough</label>
    <select name="property[borough]">
      <option value="Barking &amp; Dagenham">Barking &amp; Dagenham</option>
      <option value="Barnet">Barnet</option>
      <option value="Bexley">Bexley</option>
      <option value="Brent">Brent</option>
      <option value="Bromley">Bromley</option>
      <option value="Camden">Camden</option>
      <option value="Croydon">Croydon</option>
      <option value="Ealing">Ealing</option>
      <option value="Enfield">Enfield</option>
      <option value="Greenwich">Greenwich</option>
      <option value="Hackney">Hackney</option>
      <option value="Hammersmith &amp; Fulham">Hammersmith &amp; Fulham</option>
      <option value="Haringey">Haringey</option>
      <option value="Hillingdon">Hillingdon</option>
      <option value="Hounslow">Hounslow</option>
      <option value="Islington">Islington</option>
      <option value="Kensington and Chelsea">Kensington and Chelsea</option>
      <option value="Kingston upon Thames">Kingston upon Thames</option>
      <option value="Lambeth">Lambeth</option>
      <option value="Lewisham">Lewisham</option>
      <option value="Merton">Merton</option>
      <option value="Newham">Newham</option>
      <option value="Redbridge">Redbridge</option>
      <option value="Richmond upon Thames">Richmond upon Thames</option>
      <option value="Southwark">Southwark</option>
      <option value="Sutton">Sutton</option>
      <option value="Tower Hamlets">Tower Hamlets</option>
      <option value="Waltham Forest">Waltham Forest</option>
      <option value="Wandsworth">Wandsworth</option>
      <option value="Westminster">Westminster</option>
    </select>
  </div>
  <div class="form-group">
    <label for="property[landlord_id]">Landlord</label>
    <select name="property[landlord_id]">
      <% @landlords.each do |landlord| %>
        <option value="<%= landlord.id %>"><%= landlord.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-default">submit</button>
</form>