<h1>Properties index</h1>

<h2><a href='/properties/new'>New Property</a></h2>

<form id="search-form" class= "form-inline" action="/properties">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-default">Go</button>
  </form>

<li><a href="/properties">Back to property index</a></li>

<% @properties.each do |property| %>
  <ul>
    <li>Address 1: <%= property.address1 %></li>
    <li>Address 2: <%= property.address2 %></li>
    <li>Postcode: <%= property.postcode %></li>
    <li>Borough: <%= property.borough %></li>
    <li>Property Image: <%= property.property_image %></li>
    <% if property.landlord %>
    <li>Landlord: <%= property.landlord.name %></li>
    <% end %>

    <a href="/properties/<%= property.id %>">  Property info</a>
    <li><a href="/properties/<%= property.id %>/edit">Edit</a></li>
  </ul>

<% end %>

  <li><a href="/properties/new">Add New Property</a></li>

    <!-- t.string   "address1"
    t.string   "address2"
    t.string   "postcode"
    t.string   "borough"
    t.integer  "landlord_id"
    t.text     "property_image" -->