<h1>Property Index</h1>

<h3><a href='/properties/new'>Add New Property</a></h3>

<form id="search-form" class= "form-inline" action="/properties">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-default">Go</button>
  </form>



<h4><a href="/properties">Back to property index</a></h4>

<% @properties.each do |property| %>
  <ul>
    <li>Address: <%= property.address1 %></li>
    <li>Postcode: <%= property.postcode %></li>
    <li>Borough: <%= property.borough %></li>
    <li>Landlord: <%= property.landlord ? property.landlord.name : "Unknown" %> </li>
    

    <a href="/properties/<%= property.id %>">  Property info</a>
    <li><a href="/properties/<%= property.id %>/edit">Edit</a></li>
     <li>
     <form class="delete" method="post" action="/properties/<%= property.id %>/delete">
      <input type="hidden" name="_method" value="delete"></input>
      <button type="submit">Delete</button>
     </form>

     </li>
  </ul>
  <br>
<% end %></div>

 
