<h2>Property Info:</h2>

  <ul>
    <li>Address 1: <%= @property.address1 %></li>
    <li>Address 2: <%= @property.address2 %></li>
    <li>Postcode: <%= @property.postcode %></li>
    <li>Borough: <%= @property.borough %></li>
    <li>

    <% if @property.property_image %>
      <img src="<%= @property.property_image.url %>" width="300">
    <% else %>
      <img src="..public/images/defaultprop.jpg"> 
    <% end %>
    <li>Landlord: <%= @property.landlord.name %></li>
  </ul>

    <h4><a href="/properties">Back to property index</a></h4>


