<h1>User Home</h1>


<% @User do |user| %>
  <ul>
    <li>Name: <%= user.name %></li>
    <li>E-mail address: <%= user.email_address %></li>
    <li>Avatar: <%= user.profile_pic %></li>
  </ul>

    <!-- <a href="/user/<%= user.id %>">  Landlord info</a>
    <li><a href="/landlords/<%= landlord.id %>/edit">Edit</a></li>
  </ul>
    <br> -->

<% end %>


