<h1>Landlords Index</h1>

<h2><a href="/landords/new">New</a></h2>

<% @landlords.each do |landlord| %>
  <ul>
    <li>Name: <%= landlord.name %></li>
    <li>Rating: <%= landlord.rating %></li>
    <li>Borough: <%= landlord.borough %></li>

    <a href="/landlords/<%= landlord.id %>">  Landlord info</a>
    <li><a href="/landlords/<%= landlord.id %>/edit">Edit</a></li>
  </ul>
    <br>

<% end %>

 <li><a href="/landlords/new">Add New Landlord</a></li>
