<h1>Landlord Index</h1>

<h3><a href="/landlords/new">Add New Landlord</a></h3>

<form id="search-form" class= "form-inline" action="/landlords">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-default">Go</button>
  </form>
 

<h4><a href="/landlords">Back to landlord index</a></h4>

<% @landlords.each do |landlord| %>
  <ul>
    <li>Name: <%= landlord.name %> </li>
    <li>Borough: <%= landlord.borough %> </li>

    <a href="/landlords/<%= landlord.id %>">  Landlord info</a>
    <li><a href="/landlords/<%= landlord.id %>/edit">Edit</a></li>
    <li><a href="/landlords/<%= landlord.id %>/comments/new">Add a comment</a></li>
    <form class="delete" method="post" action="/landlords/<%= landlord.id %>/delete">
      <input type="hidden" name="_method" value="delete"></input>
      <button type="submit">Delete</button>
     </form>

  </ul>
    <br>

<% end %>

 
