<br>
<br>

<form id="search-form" class= "form-inline" action="/landlords">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-default">Go</button>
  </form>
  <br>

<li class="New Landlord"><a href="/landlords/new">New Landlord</a></li>

<% @landlords.each do |landlord| %>
  <ul>
    <li>Name: <%= landlord.name %> </li>
    <li>Borough: <%= landlord.borough %> </li>

    <a href="/landlords/<%= landlord.id %>">  Landlord info</a>
    <li><a href="/landlords/<%= landlord.id %>/edit">Edit</a></li>
    <li><a href="/landlords/<%= landlord.id %>/comments/new">Add a comment</a></li>
    <form class="delete" method="post" action="/landlords/<%= landlord.id %>/delete">
      <input type="hidden" name="_method" value="delete"></input>
      <button type="submit">delete</button>
     </form>

  </ul>
    <br>

<% end %>

 <li><a href="/landlords/new">Add New Landlord</a></li>
