<h2>Landlord Info:</h2>
<% @properties.each do |property| %>
  <h3>Properties owned:</h3>
  <%= property.address1 %>,
  <%= property.address2 %>,
  <%= property.postcode %>
<% end%>

  <h3>User feedback:</h3> 
<% @comments.each do |comment| %>
  <h4>Comment:</h4><%= comment.issue %>
  <h4>Rating:</h4> <%= comment.rating %>

<% end%>